<div>
    Where are you going?&nbsp;&nbsp;
    <select id='destination_caltrain_select'>
        {{#each caltrainFixtureData}}
        <option value='{{@key}}'>{{@key}}</option>
        {{/each}}
    </select>

    <div id='candidate_caltrain_times'>
        {{#each candidateCaltrainTimes}}
        {{formatDate departureTime}} - {{formatDate arrivalTime}} ({{lengthInMinutes this}} minutes)<br/>
        {{/each}}
    </div>
</div>
