<p >
    <span class='muni-route-heading'>
        {{id}}: {{departureStopName}}
    </span>
    ({{minutesToDepartureStop}} minute(s) to walk)
</p>
{{#if predictions}}
<table id='muni-prediction-table'>
    <thead>
        <tr>
            <th class='muni-prediction-arrival-time-col'>Arrives @Caltrain</th>
            <th class='muni-prediction-departure-time-col'>Departs In</th>
        </tr>
    </thead>
    {{#each predictions}}
        <tr>
            <td>{{arrivalTime}}</td>
            <td>{{departureMinutes}} minute(s)<span class='muni-prediction-departure-minutes'>&nbsp;&nbsp;{{departureTime}}</span></td>
        </tr>
    {{/each}}
</table>
{{else}}
<p class='italic'>There are no predictions available</p>
{{/if}}
