<p>
    <span class='muni-route-heading'>
        {{id}}: {{departureStopName}}
    </span>
    ({{minutesToDepartureStop}} min. walk to MUNI)
</p>
{{#if filteredPredictions}}
<table class='muni-prediction-table'>
    <thead>
        <tr>
            <th class='muni-prediction-arrival-time-col'>Arrives @Caltrain</th>
            <th class='muni-prediction-departure-time-col'>Departs In</th>
        </tr>
    </thead>
    <tbody>
        {{#each filteredPredictions}}
        <tr>
            <td>{{formatDate arrivalTime 'hh:mm A'}}</td>
            <td>
                <span class='muni-prediction-departure-minutes'>{{departureMinutes}} min.</span>
                <span class='muni-prediction-departure-time'>&nbsp;&nbsp;{{formatDate departureTime 'hh:mm A'}} </span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p class='italic'>Sorry, no muni options available to make this train.</p>
{{/if}}
